.btn {
  padding: 6px 14px;
  background-color: transparent;
  border: none;
  border-radius: 6px;
  height: fit-content;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &.light {
    border: 1px solid #1919193e;
    color: black;
  }

  &.dark {
    background-color: #ff3600d4;
    color: white;
  }

  &.disabled {
    cursor: not-allowed !important;
  }
}
