.headerContainer {
  height: fit-content;
  background-color: white;
  color: black;
  padding: 10px;
  display: flex;
  justify-content: center;
  border: 1px solid #1919193e;

  h1 {
    font-size: 30px;
    line-height: 100%;
    margin: 0;
  }
}
